{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block head %}
  <head>

    <meta charset="utf-8">
    <meta name="description" content="Mira la opinión de cualquier cosa antes de decidirte.">
    <meta name="robots" content="index, follow">
  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>{% block tittle %}Cosiacos{% endblock tittle %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'los_cosiacos/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'los_cosiacos/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'los_cosiacos/css/templatemo-cyborg-gaming.css' %}">
    <link rel="stylesheet" href="{% static 'los_cosiacos/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'los_cosiacos/css/animate.css' %}">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<!--

-->
  </head>
{% endblock head %}  

<body>

  {% block preload %}
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->
  {% endblock preload %}

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'los_cosiacos_urls:index' %}" class="logo">
                        <img src="{% static 'los_cosiacos/images/logo.png' %}" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    {% block search_bar %}
                    {% endblock search_bar %}
                    {% block menu_start %}
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{% url 'los_cosiacos_urls:index' %}" class="active">Inicio</a></li>
                        <li><a href="{% url 'los_cosiacos_urls:browse' %}">Buscar</a></li>
                        <li><a href="{% url 'los_cosiacos_urls:perfil' %}">Perfil <img src="{% static 'los_cosiacos/images/profile-header.jpg' %}" alt=""></a></li>
                    </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                    {% endblock menu_start %}
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          {% block banner_start %}
          <!-- ***** Banner Start ***** -->
          <div class="main-banner">
            {% if messages %}
              <ul>
              {% for message in messages %}
                <li>{{message}}</li>
              {% endfor %}
              </ul>
            {% endif %}
            <div class="row">
              <div class="col-lg-7">
                <div class="header-text">
                  <h6>Welcome To Cyborg</h6>
                  <h4><em>Browse</em> Our Popular Games Here</h4>
                  <div class="main-button">
                    <a href="{% url 'usuario_urls:login' %}">Browse Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Banner End ***** -->
           {% endblock banner_start %}

          {% block cosiacos_respuesta %}
          {% endblock cosiacos_respuesta %}

          {% block most_popular_now %}
          <!-- ***** Most Popular Start ***** -->
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Cosiacos</em> Más Populares</h4>
                </div>
                <div class="row">
                  {% for cosiaco in cosiacos_populares %}
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img src="{% static 'los_cosiacos/images/popular-01.jpg' %}" alt="">
                      <h4>{{cosiaco.nombre.capitalize}}<br><span>{{cosiaco.creador.usuario.capitalize}}</span></h4>
                      <ul>
                        {% if not cosiaco.mostrar_estrellas %}
                        <li><i class="fa fa-star"></i> 0</li>
                        {% else %}
                        <li><i class="fa fa-star"></i> {{cosiaco.mostrar_estrellas}}</li>
                        {% endif %}
                        <li><i class="fa fa-download"></i> <a href="{% url 'los_cosiacos_urls:detalle_cosiaco' cosiaco.id %}">Ver</a></li>
                      </ul>
                    </div>
                  </div>
                  {% endfor %}
                  <div class="col-lg-12">
                    <div class="main-button">
                      <a href="{% url 'los_cosiacos_urls:browse' %}">Buscar Cosiaco</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Most Popular End ***** -->
          {% endblock most_popular_now %}

          {% block my_cosiacos %}
          <!-- ***** Gaming Library Start ***** -->
          <div class="gaming-library">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>Últimos</em> Cosiacos</h4>
              </div>
              {% for cosiaco in ultimos_cosiacos %}
              <div class="item">
                <ul>
                  <li><img src="{% static 'los_cosiacos/images/game-01.jpg' %}" alt="" class="templatemo-item"></li>
                  <li><h4>{{cosiaco.nombre}}</h4><span>{{cosiaco.creador.usuario.capitalize}}</span></li>
                  <li><h4>Fecha de Creación</h4><span>{{cosiaco.fecha_creacion}}</span></li>
                  <li><h4>Estrellas</h4><span>cosiaco.mostrar_estrellas</span></li>
                  <li><h4>Categoria</h4><span>{{cosiaco.categoria.0.nombre}}</span></li>
                  <li><div class="main-border-button border-no-active"><a href="{% url 'los_cosiacos_urls:detalle_cosiaco' cosiaco.id %}">Ver</a></div></li>
                </ul>
              </div>
              {% endfor %}
            </div>
            <div class="col-lg-12">
              <div class="main-button">
                <a href="{% url 'los_cosiacos_urls:browse' %}">Buscar Cosiacos</a>
              </div>
            </div>
          </div>
          <!-- ***** Gaming Library End ***** -->
          {% endblock my_cosiacos %}
        </div>
      </div>
    </div>
  </div>
  
  {% block footer %}
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2036 <a href="#">Cyborg Gaming</a> Company. All rights reserved. 
          
          <br>Design: <a href="https://templatemo.com" target="_blank" title="free CSS templates">TemplateMo</a></p>
        </div>
      </div>
    </div>
  </footer>
  {% endblock footer %}


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'los_cosiacos/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'los_cosiacos/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

  <script src="{% static 'los_cosiacos/js/isotope.min.js' %}"></script>
  <script src="{% static 'los_cosiacos/js/owl-carousel.js' %}"></script>
  <script src="{% static 'los_cosiacos/js/tabs.js' %}"></script>
  <script src="{% static 'los_cosiacos/js/popup.js' %}"></script>
  <script src="{% static 'los_cosiacos/js/custom.js' %}"></script>


  </body>

</html>
